*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 24px;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Poppins', sans-serif;
}
a, a:hover{
	text-decoration: none;
}
/* global css code goes here */
.container{
	width: 1140px;
	margin: 0px auto;
}
.row{
	width: 100%;
	float: left;
}
.col-lg-3{
	width: 25%;
	float: left;
}
.col-lg-4{
	width: 33.33%;
	float: left;
}
.col-lg-6{
	width: 50%;
	float: left;
}
.col-lg-9{
	width: 75%;
	float: left;
}
.col-lg-12{
 	width: 100%;
 	float: left;
}
/*header code start*/
.header{
	width: 100%;
	float: left;
	padding: 20px 0px;
	border: 1px solid #777;
}
.logo{
	display: block;
	width: 130px;
}
.logo .img{
	width: 100%;
}
.header .navbar{
	width: 100%;
	float: left;
	text-align: right;
}
.header .navbar li{
	list-style: none;
	display: inline-block;
}
.header .navbar li a{
	display: block;
	font-size: 14px;
	text-transform: capitalize;
	color: #777;
	font-weight: 600;
	margin: 15px 0px 0px 15px;
}
.header .navbar li a:hover, .header .navbar li a:focus{
	color: #0C66FF;
}
/*online-section start*/
.online-section{
	width: 100%;
	float: left;
	padding: 80px 0px;
}
.inner-online{
	width: 100%;
	float: left;
	text-align: center;
}

.inner-online h1{
	font-size: 56px;
	line-height: 66px;
	font-weight: 700;
	color: #132A59;
	margin: 0px 0px 15px;
}
.inner-online h1 span{
	color: #0C66FF;
}
.inner-online p{
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	color: #777;
	margin: 0px 0px 15px;
}
.inner-online .banner-img{
	width: 50%;
}
.successful-section{
	width: 100%;
	float: left;
	padding: 20px 0px 60px;
}
.inner-left{
	width: 100%;
	float: left;
	text-align: right;
}

.inner-left h2{
	font-size: 56px;
	line-height: 66px;
	font-weight: 700;
	color: #FF0000;
	margin: 0px 0px 0px 20px;
}
.inner-left p{
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	color: #777;
	margin: 0px 0px 0px 20px;
}
.project{
	font-size: 56px;
	line-height: 66px;
	font-weight: 700;
	color: #3F3D56;
	margin: 0px 0px 0px 20px;
}
.footer{
	width: 100%;
	float: left;
	padding: 20px 0px;
	text-align: center;
	background: #316DAB;
}
.footer p{
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #f0f0f0;
}
.footer p a{
	font-weight: 700;
	letter-spacing: 3px;
	color: #fff;
}
.feature-section{
	width: 100%;
	float: left;
	padding: 40px 0px;
}
.inner-feature{
	width: 80%;
	float: left;
	padding: 40px 30px;
	margin: 0px 10px;
}
.inner-feature img{
	width: 100%;
	height: 170px;
}
.inner-feature h4{
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
	color: #132A59;
	margin: 10px 0px;
}
.inner-feature p{
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	color: #777;
	
}
.cl1{
	background: #FDEBED;
}
.cl2{
	background: #EBF9F4;
}
.cl3{
	background: #FFF7E8;
}

/* overview pages css code start here */

.overview{
	width: 100%;
	float: left;
}
.overview h2{
	font-size: 56px;
	line-height: 66px;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.overview p{
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	margin: 15px 0px;
}
.overview .img-fluid{
	width: 100%;
	margin: 15px 0px;
	border:  2px solid #000;
}

/* landing pages css code start here */

.landing{
	width: 100%;
	float: left;
}
.landing h2{
	font-size: 56px;
	line-height: 66px;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.landing p{
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	margin: 15px 0px;
}
.landing .demo-img{
	width: 100%;
	margin: 15px 0px;
	border:  2px solid #000;
}

/* pages css code start here */

.pages{
	width: 100%;
	float: left;
}
.pages h2{
	font-size: 56px;
	line-height: 66px;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.pages p{
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	margin: 15px 0px;
}
.pages .demo2-img{
	width: 100%;
	margin: 15px 0px;
	border:  2px solid #000;
}

/* apps pages css code start here */

.apps{
	width: 100%;
	float: left;
}
.apps h2{
	font-size: 56px;
	line-height: 66px;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.apps p{
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	margin: 15px 0px;
}
.apps .minimal-img{
	width: 100%;
	margin: 15px 0px;
	border:  2px solid #000;
}

/* docs pages css code start here */

.docs{
	width: 100%;
	float: left;
}
.docs h2{
	font-size: 56px;
	line-height: 66px;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.docs p{
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	margin: 15px 0px;
}
.docs .shop-img{
	width: 100%;
	margin: 15px 0px;
	border:  2px solid #000;
}

/* pages html -> page code goes here*/

/* responsive css code start  */

/*low resulation mobile phone -- galaxi fold*/
@media (min-width: 279px) and (max-width: 319px){
.container{
	width: 90%;
	margin: 0px auto;
}
.row{
	width: 100%;
	float: left;
}
.col-lg-3{
	width: 100%;
	float: left;
}
.col-lg-4{
	width: 100%;
	float: left;
}
.col-lg-6{
	width: 100%;
	float: left;
}
.col-lg-9{
	width: 100%;
	float: left;
}
.col-lg-12{
 	width: 100%;
 	float: left;
}
.header .logo{
	text-align: center;
	width: 100%;

}
.header .logo img{
	width: 130px;
}
.header .navbar{
	text-align: left;
}
.header .navbar li a{
	font-size: 10px;
	margin: 10px 0px 0px 10px;
}
.online-section{
	padding: 20px 0px;
}
.inner-online h1{
	font-size: 20px;
	line-height: 30px;
}
.inner-online p{
	font-size: 10px;
	line-height: 20px;
}
.inner-online .banner-img{
	width: 70%;
}
.successful-section{
	margin: 0px 0px 0px 10px;
}
.inner-left h2{
	font-size: 40px;
	list-style: 50px
	text-align: right;
}
.inner-left p{
	font-size: 12px;
	line-height: 22px;
	text-align: center;
}
.successful-section .project{
	font-size: 30px;
	line-height: 40px;
}
.inner-feature{
	margin: 0px 0px 15px;
}
}

/*most of the smartphone devices */
@media (min-width: 320px) and (max-width: 480px){
 .container{
	width: 90%;
	margin: 0px auto;
}
.row{
	width: 100%;
	float: left;
}
.col-lg-3{
	width: 100%;
	float: left;
}
.col-lg-4{
	width: 100%;
	float: left;
}
.col-lg-6{
	width: 100%;
	float: left;
}
.col-lg-9{
	width: 100%;
	float: left;
}
.col-lg-12{
 	width: 100%;
 	float: left;
}
.header .logo{
	text-align: center;
	width: 100%;

}
.header .logo img{
	width: 150px;
}
.header .navbar{
	text-align: left;
}
.header .navbar li a{
	font-size: 12px;
	margin: 15px 0px 0px 15px;
}
.online-section{
	padding: 30px 0px;
}
.inner-online h1{
	font-size: 28px;
	line-height: 38px;
}
.inner-online p{
	font-size: 12px;
	line-height: 22px;
}
.inner-online .banner-img{
	width: 80%;
}
.successful-section{
	margin: 0px 0px 0px 10px;
}
.inner-left h2{
	font-size: 50px;
	line-height: 60px;
	text-align: right;
}
.inner-left p{
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}
.successful-section .project{
	font-size: 38px;
	line-height: 48px;
}
.inner-feature{
	margin: 0px 0px 15px;
}
}
/*mobile phone and low resulation tablet*/
@media (min-width: 481px) and (max-width: 767px){
.container{
	width: 90%;
	margin: 0px auto;
}
.row{
	width: 100%;
	float: left;
}
.col-lg-3{
	width: 100%;
	float: left;
}
.col-lg-4{
	width: 100%;
	float: left;
}
.col-lg-6{
	width: 100%;
	float: left;
}
.col-lg-9{
	width: 100%;
	float: left;
}
.col-lg-12{
 	width: 100%;
 	float: left;
}
.header .logo{
	text-align: center;
	width: 100%;

}
.header .logo img{
	width: 150px;
}
.header .navbar{
	text-align: left;
}
.header .navbar li a{
	font-size: 16px;
	margin: 30px 0px 0px 30px;
}
.online-section{
	padding: 20px 0px;
}
.inner-online h1{
	font-size: 30px;
	line-height: 40px;
}
.inner-online p{
	font-size: 16px;
	line-height: 26px;
}
.inner-online .banner-img{
	width: 60%;
}
.successful-section{
	margin: 0px 0px 0px 10px;
}
.inner-left h2{
	font-size: 50px;
	line-height: 60px;
	text-align: center;
}
.inner-left p{
	font-size: 16px;
	line-height: 26px;
	text-align: center;
}
.successful-section .project{
	font-size: 48px;
	line-height: 58px;
}
.inner-feature{
	padding: 90px 50ox;
	margin: 0px 15px 15px 15px;
}
}



/*tablet, notebook*/
@media (min-width: 768px) and (max-width: 1024px){
.container{
	width: 90%;
	margin: 0px auto;
}
.row{
	width: 100%;
	float: left;
}
.col-lg-3{
	width: 100%;
	float: left;
}
.col-lg-4{
	width: 100%;
	float: left;
}
.col-lg-6{
	width: 100%;
	float: left;
}
.col-lg-9{
	width: 100%;
	float: left;
}
.col-lg-12{
 	width: 100%;
 	float: left;
}
.header .logo{
	text-align: center;
	width: 100%;

}
.header .logo img{
	width: 250px;
}
.header .navbar{
	text-align: left;
}
.header .navbar li a{
	font-size: 26px;
	margin: 50px 0px 0px 50px;
}
.online-section{
	padding: 20px 0px;
}
.inner-online h1{
	font-size: 48px;
	line-height: 58px;
}
.inner-online p{
	font-size: 26px;
	line-height: 36px;
}
.inner-online .banner-img{
	width: 80%;
}
.successful-section{
	margin: 0px 0px 0px 10px;
}
.inner-left h2{
	font-size: 80px;
	line-height: 90px;
	text-align: center;
}
.inner-left p{
	font-size: 26px;
	line-height: 36px;
	text-align: center;
}
.successful-section .project{
	font-size: 88px;
	line-height: 98px;
}
.inner-feature{
	padding: 50px 40ox;
	margin: 10px 25px 25px 60px;
}
.inner-feature img {
    width: 100%;
    height: 300px;
}
.footer p {
    font-size: 20px;
    line-height: 30px;

}
}
